@mixin size-btn {
    padding: 10px;
    border-radius: 15px;
    &:hover{
        background-color: palevioletred;
        color: white;
        transition: background-color 1s ease-out;
    }
}
@mixin fontstyle{
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
}
   