* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 24px;
  font-family: sans-serif !important;
  font-weight: bold !important;
  list-style: none;
}

h1, h2 {
  font-family: sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: darkred !important;
  margin: 20px 0px 10px !important;
  padding: 5px !important;
}
@media (max-width: 640px) {
  h1, h2 {
    text-align: start;
    margin: 20px 0px 10px;
  }
}

.navbar {
  background-color: lightgrey !important;
}

.fbuscar {
  text-decoration: none;
  border: none;
}

.fbuscar .btn {
  color: darkred !important;
}

.nav-link, .nav-linknav {
  color: darkred !important;
}

.fa-bars {
  display: none;
}

.fr {
  background-color: lightgrey !important;
  color: darkred !important;
  font-size: 18px !important;
}

/*productos*/
.cardp {
  margin-left: 130px !important;
  width: 18rem !important;
  border: 4px solid grey !important;
  text-align: center;
}

@media (max-width: 640px) {
  .cajap {
    display: flex !important;
    flex-direction: column !important;
    align-items: start !important;
  }
}

.btn {
  border: solid 4px darkred;
  border-radius: 5px;
  color: black;
  margin: 10px;
}

.cardp > img {
  width: 15rem;
}

.cardp > img:hover {
  transform: scale(2, 1);
}

button:hover, button:focus, .btn:hover, form .btn:focus {
  background-color: palevioletred;
  color: white;
  transition: background-color 1s ease-out;
}

.mayuda {
  display: inline-block;
  padding: 10px;
  margin: 30px;
  gap: 10px;
  border: 2px solid darkred;
  border-radius: 10px;
}

.mainayuda {
  display: inline-block;
  padding: 10px;
  margin: 30px;
  gap: 10px;
  border: 2px solid darkred;
  border-radius: 10px;
}

/*recetas*/
.list-group {
  border: 4px solid lightgrey;
  margin-left: 20px;
}

.list-group-item:hover, .list-group-item:focus {
  color: crimson;
}

video {
  width: 800px;
}

.sectionr {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 100px;
}

.cursos {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  align-items: center;
}

.cursos div > img {
  width: 300px;
}

.cursos div {
  margin: 20px;
  padding: 15px;
  border: 5px solid lightgrey;
  border-radius: 5px;
  text-align: center;
}

/*contacto*/
.ubicacion {
  display: flex;
  flex-wrap: wrap;
}

.ubicacion div {
  margin: 10px;
  border-radius: 5px;
  border: 4px solid lightgrey;
  text-align: center;
}

.formcontacto {
  margin-left: 400px !important;
  width: 420px;
  text-align: center;
  margin: 10px;
  align-items: center;
  border: solid lightgrey 3px;
  border-radius: 5px;
  color: darkred;
}
@media (max-width: 640px) {
  .formcontacto {
    margin-left: 0px !important;
    margin: 0px !important;
  }
}

.formcontacto > label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 300px;
  margin-left: 40px;
}

.enviar {
  margin: 10px;
  background-color: plum;
  border: 1px solid;
  width: 300px;
  padding: 5px;
  border-radius: 10px;
}

.formcontacto .enviar:hover, form .enviar:focus {
  background-color: palevioletred;
  color: white;
  transition: background-color 1s ease-out;
}