.navbar{
    background-color: $colordefondo !important;
   
}
.fbuscar{
    text-decoration: none;
    border: none;
}
.fbuscar .btn{
    color: $colorletra !important;
}
.nav-link, .nav-linknav{
    color:$colorletra !important;

}
.fa-bars{
    display: none;
}
