/*recetas*/
.list-group{
    border: 4px solid $colordefondo;
    margin-left: 20px;
}
.list-group-item:hover, .list-group-item:focus{
    color:crimson;
}
video{
    width: 800px;
}
.sectionr{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 100px;
}

.cursos {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    align-items: center;
  }
.cursos div > img{
    width: 300px;
}

.cursos div {
    margin: 20px;
    padding: 15px;
    border: 5px solid $colordefondo;
    border-radius: 5px;
    text-align: center;
  }
